body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for dark mode */
}

header {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative; /* For absolute positioning of menu and mode icons */
}

header img {
    max-width: 100px;
}

header span {
    margin-left: 1rem;
    font-size: 1.5em;
}

#mode {
    cursor: pointer;
    position: absolute;
    right: 60px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.navigation {
    display: none;
    background-color: grey;
}

.navigation.active { 
    display: block;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    padding: 10px;
}

.navigation a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

.navigation li:hover, .navigation .active {
    background-color: rgba(255,255,255,0.2);
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%; 
    height: auto;
}

.overlay {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); 
    color: #fff;
    padding: 20px 0 20px 0;
    text-align: center;
}

.card {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}

.dark-mode { /* Styles for dark mode */
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header, .dark-mode footer .dark-mode section { /* Specific dark mode styles for header and footer */
    background-color: #000000;
}
